{{/*
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ partial "menu_bar.html" . }}
{{ partial "search_box.html" . }}
<ul class="navbar-nav feed-buttons">
  <span>
  <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" class="btn btn-sm btn-warning align-self-center">
    RSS <i class="icon icon_rss"></i>
  </a>
  <a href="{{ with .OutputFormats.Get "ATOM" }}{{ .RelPermalink }}{{ end }}" class="btn btn-sm btn-warning align-self-center">
    Atom <i class="icon icon_rss"></i>
  </a>
  <a href="{{ cond (eq .Language.Lang "es") "https://t.me/kdeplanet_es" "https://t.me/kdeplanet" }}" class="btn btn-sm btn-primary align-self-center">
    Telegram <i class="icon icon_document-send"></i>
  </a>
  </span>
</ul>
